* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #707070;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:block;
    padding: 50px 150px 50px 100px;
    line-height: 1.5;
}
header {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.navigation li {
    padding: 10px;
    display: inline;
    font-size: larger;
    cursor: pointer;
}
.navigation a {
    text-decoration: none;
    color: black
    
}
.name {
    width: 200px;
    position: relative;
    font-size: x-large;
    left: 45%;
    margin-top: 50px;
}
.container1 {
    display: flex;
    width: auto;
    height: 400px;
}
.whoAmI {
    margin: auto;
    padding-right: 30px;
}
.container1 img{
    margin:auto;
    margin-top: 50px;
}
.container2 {   
    display: flex;
    width: auto;
    height: 400px;
}
.right {
    margin: auto;
}
.container3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    
}
.socials{
    margin-top: 20px;
    list-style: none;
}
.socials a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.projects {
    margin-top: 50px;
}
.list {
    margin-top: 20px;
    
}